.center{
    text-align: center;
}

.center p{
    text-align: center;
}

.last{
    margin-left: 20%;
    margin-right: 20%;
}

.last i{
    font-size: 30px;
}

.content {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.397);
    color: snow;
}

.content ul {
    text-align: left;
    margin-left: 7%;
}


.content img{
    width: 50px;
    height: 50px;
}

.vertical p{
    display: inline;
    font-size: 20px;
}

.section{
    background-color: #b5e6ea;
}

.middle{
    margin-left: 30%;
    margin-right: 30%;
}



.margin{
    font-family: Ubuntu, sans-serif;
    margin: 2% 2%;
    letter-spacing: 4px;
    color: snow;
}

.margin h1{
    font-size: 50px;
    font-variant: small-caps;
    background-color: rgba(0, 0, 0, 0.397); 
    width: auto;
    padding: 1.5%;
}

.margin p, .margin ul{
    text-align: justify;
    font-size: 17px;
}

/*AUTHOR SECTION*/
#Author{
    background-image: url(../Image/Author-Tab.jpg);
    background-position: center; 
    background-repeat: no-repeat;
}

.content table{
    margin-left: 5%;
}

.content table th{
    text-align: right;
}

.content table tr{
    text-align: left;
}

.content td{
    padding-left: 7px;
}

.left{
    text-align: left;
}








