.center {  
    text-align: center;
}

.form {
    margin-top: 1.5%; 
}

.form input{
    font-size: 18px;
    font-weight: bold;
    height: 33px
}


th, td {
    width: max-content;
}

.form table {
    background-color: rgba(0, 0, 0, 0.377);
    margin-left: 1.5%;
    margin-right: 1.5%;
    border: 2px solid snow;
    border-spacing: 3px;
}

.form table, .form th{
    color: white;
    padding: 1%; 

}

.form tr th {
    font-size: 22px;
}

.form td {
    font-size: 18px;
}

.form table tr th {
    text-align: center;
}

.form table {
    margin: 1.5% 1.5%;
}


.form button {
    font-family: Consolas;
    padding: 0.5% 0.5%;
    font-weight: bolder;
    font-size: 17px;  
    text-transform: uppercase;
}

.form h1 {
    margin-left: 1.5%;
    margin-right: auto;
    color: white;
}

.form table tr td a {
    display: inline-table;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

