* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Ubuntu, sans-serif;
    font-size: 27px;
    font-weight: bolder;
}

nav {
    display: flex; 
    position: relative; 
    background-color: #0009; /* to create transparant background just set the transparency */
    padding: 1% 1%;
}

nav a {
    text-decoration: none;
    color: whitesmoke; 
}

nav li {
    width: 400px;
    text-align: justify;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li { /*set distance between list => submenu nggk mepet */
    padding: 1% 1% 1% 0;
}

nav ul ul { 
    display: block;
}

.menu li {
    display: flex;
}

nav ul ul li {
    position: relative;
}

.submenu ul {
    display: none;
    position: absolute;
}

nav ul ul:hover .submenu ul {
    display: block;
}

.submenu {
    padding: 20px 20x;
}

/* For background */
#Generic{
    background-image: url(../Image/Generic.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

#User{
    background-image: url(../Image/User.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

#Admin{
    background-image: url(../Image/Admin.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}